############################################
# GENERAL
############################################
.DS_Store
Thumbs.db
*.log
logs/
*.tmp
*.swp
*.swo

############################################
# ENV / SECRETS
############################################
.env
.env.*
*.env

# Only ignore LOCAL configs, not main ones
application-*.local.yml
application-*.local.yaml
application-*.local.properties

############################################
# JAVA / SPRING BOOT
############################################
target/
*.jar
*.war
*.ear
*.class

# IntelliJ
.idea/
*.iml

############################################
# NODE / ANGULAR
############################################
node_modules/
dist/
.angular/
coverage/

############################################
# .NET
############################################
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

############################################
# DOCKER
############################################
*.pid
*.seed
*.pid.lock
docker-data/

############################################
# PROJECT SPECIFIC
############################################
services/**/logs/
services/**/*.log

web-app/**/dist/
web-app/**/node_modules/

# VS Code
.vscode/

############################################
# TEST OUTPUT
############################################
coverage/
test-output/
