COMPANY_URL=http://localhost:8082/companies
FLEET_BASE_URL=http://localhost:8083
WAREHOUSE_URL=http://localhost:8084/warehouses
PRODUCT_BASE_URL=http://localhost:8085
INVENTORY_URL=http://localhost:8086/inventory
ORDER_URL=http://localhost:8087/orders
NOTIFICATION_URL=http://localhost:8088/notifications
